<% provide(:title, 'All Teachers') %>
<div class="jumbotron">
  <h1>All Teachers</h1>
  <ul class="item_list">
    <% @teachers.each do |teacher| %>
     <li>
        <strong><%= link_to teacher.name, login_path(:user_id => teacher.id) %></strong> - <%= teacher.email %>
     </li>
    <% end %>
    <br/>
    <%= link_to "Create new Teacher", new_teacher_path, class: "btn center btn-lg btn-primary" %>
  </ul>
</div>