<footer class="footer">
  <small>
    Teacher Management APP by Carlos Benito
  </small>
  <nav>
    <ul>
      <li><a href="https://github.com/CarlosBenito85/teacher_management_app">Repository</a></li>
    </ul>
  </nav>
</footer>