<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Teacher Management APP", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Teacher Login Simulation", teachers_path %></li>
      </ul>
    </nav>
  </div>
</header>